@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import "tailwindcss";



body {
  font-family: "Manrope", sans-serif;
}

.logo {
  font-family: "Bodoni Moda SC", serif;
  font-weight: bold;
  font-size: 48px;
}