@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import "tailwindcss";



body {
  font-family: "Manrope", sans-serif;
}

.logo {
  font-family: "Bodoni Moda SC", serif;
  font-weight: bold;
  font-size: 48px;
}
.logo-wipe {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: wipeDown 2s ease-in-out infinite;
  z-index: 2;
}

@keyframes wipeDown {
  0% {
    top: -100%;
  }
  40% {
    top: 0%;
  }
  60% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}